<footer>
  <div class="footer text-center position-fixed bottom-0 w-100">
    <div class="container">
      <h2>Follow Us On</h2>
      <ul class="list-group list-group-horizontal  d-flex justify-content-center align-items-center">
        <li class="facebook list-group-item border-0"><a href="https://www.facebook.com/424660781453586"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li class="twitter list-group-item border-0"><a href="https://bit.ly/35QSxir"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li class="linkedin list-group-item border-0"><a href="https://bit.ly/3HrOy9S"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
        <li class="youtube list-group-item border-0"><a href="https://bit.ly/3HrOy9S"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
        <li class="instagram list-group-item border-0"><a href="https://bit.ly/3J4h2qF"><i class="fa fa-instagram" aria-hidden="true"></i>
        </a></li>
      </ul>
      <span>&copy; Copyright 2022 - Created By : Maysarah Mahmoud </span>
    </div>
  </div>
</footer>
