<div class="container">
  <div class="row">
    <div class="col-lg-5 offset-md-1  col-12" data-aos="zoom-in" data-aos-duration="1000">
      <!-- About Video -->
      <div class="modern-img-feature">
        <img src="../../assets/Images/poert1.png" class="w-75" alt="/">
      </div>
      <!--/End About Video  -->
    </div>
    <div class="col-lg-5  col-12">
      <div class="about-content section-title default " data-aos="fade-left" data-aos-duration="1000">
        <div class="section-top">
          <h1><span>About Us</span></h1>
          <h2><span>Angular Framework</span></h2>
        </div>
        <div class="section-bottom">
          <div class="text">
            <p style="text-align: justify;">Angular is a development platform, built on TypeScript. As a platform,
              Angular includes: A component-based framework for building scalable web applications. A collection of
              well-integrated libraries that cover a wide variety of features, including routing, forms management,
              client-server communication, and more. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
