<div class="mb-4">
  <div class="pt-4">
    <div class="text-center pt-4 text-white">
      <h2 class="text-uppercase mb-3 fs-1 fw-bolder">portfolio component</h2>
      <div class="d-flex align-items-center justify-content-center mb-3">
        <div class="line me-3"></div>
        <i class="fa fa-star"></i>
        <div class="line ms-3"></div>
      </div>
    </div>
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-4 col-md-6">
          <div class="rounded-3 overflow-hidden">
            <img src="../../assets/Images/poert1.png" alt="" class="w-100 rounded-3">
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="rounded-3 overflow-hidden">
            <img src="../../assets/Images/port2.png" alt="" class="w-100 rounded-3">
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="rounded-3 overflow-hidden">
            <img src="../../assets/Images/port3.png" alt="" class="w-100 rounded-3">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
